<div class="bg-primary text-white text-center p-5 display-2">

{{name}}
<br>




{{para + name}}   <!--Interpolation binding-->
<br>

{{23 + 2}}        <!--Interpolation binding-->
<br>
{{num1 + num2}}
<br>
{{date}}

<br>
<br>
<h2>property binding</h2>
<!--property binding-->

<input type="text" name="" [value]='para1'>  <!--property binding-->

<br>
<div class="bg-success text-center text-white p-3" [innerHTML]='para1'>

</div>

<input type="submit" value="Submit Form" class="btn btn-danger btn-lg"
[disabled]='hide'>


</div>

<!--app-attributebinding-->


<app-attributebinding></app-attributebinding>

<!--Event binding-->

<app-eventbinding></app-eventbinding>

<!--Two way  binding-->
<app-twowaybinding></app-twowaybinding>



<!--template-reference-variable-->
<app-template-reference-variable></app-template-reference-variable>

<!--app-ngstylengclass--->
<app-ngstylengclass></app-ngstylengclass>